<header class="container header">

    <div className="header-body">
       <div className="header-body__menu">
                               <Link href="/users">
                                   <a className="header-body__profile">Профиль</a>
                               </Link>
                               <Link href="/">
                                   <a className="header-body__quit">Выход</a>
                               </Link>
                           </div>
    </div>
</header>
