---
layout: page.njk
---

{% include 'header.njk' %}
{% include 'aside.njk' %}

<main class="page__main main">
    <a class="patreon box box--compact"
        href="#">
        krk-finance
    </a>
    <article class="episode box">
        <h1 class="episode__title">
            {{ number }}. {{ title }}
        </h1>


    </article>
</main>

{% include 'footer.njk' %}
