<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {{ title }}{% if page.url != '/' %} — krk-finance{% endif %}
    </title>

    <meta name="description" content="krk-finance">

    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/images/icons/152.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/32.png">

    <link rel="preload" href="/fonts/rubik-regular-latin.woff2" crossorigin as="font" type="font/woff2">
    <link rel="preload" href="/fonts/rubik-regular-cyrillic.woff2" crossorigin as="font" type="font/woff2">
    <link rel="preload" href="/fonts/din-condensed-latin.woff2" crossorigin as="font" type="font/woff2">
    <link rel="preload" href="/fonts/din-condensed-cyrillic.woff2" crossorigin as="font" type="font/woff2">

    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body class="page__body">
    {{ content | safe }}
    <script src="/scripts/scripts.js"></script>
</body>
</html>
